<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up for Coinery, <%= @user.full_name%>!</h1>
    <p>Welcome aboard! Feel free to poke around the marketplace, list a few goods for sale, or purchase something of interest. And don't hesitate to reach out should you have any questions.</p>
  </body>
</html>
