<div class="dz-preview dz-file-preview">
  <div class="dz-progress" style="display: block">
    <span class="dz-upload" data-dz-uploadprogress>
      <span data-dz-name class="filename"></span>
    </span>
  </div>
  <div class="dz-details">
    <div class="dz-filename"><span data-dz-name>myfile.png</span></div>
  </div>
  <div class="dz-success-mark"><span><i class="fa fa-check"></i></span></div>
  <div class="dz-error-mark"><span><i class="fa fa-exclamation-circle"></i></span></div>
  <div class="dz-meta">
    <span class="dz-size" data-dz-size></span><span class="dz-error-msg" data-dz-errormessage></span>
  </div>
  <span class="dz-progress-percent"></span>
</div>

