<div class="dz-preview dz-file-preview">
  <div class="dz-progress" style="display: block">
    <span class="dz-upload" data-dz-uploadprogress>
      <span data-dz-name class="filename"></span>
    </span>
  </div>
  <div class="dz-details">
    <div class="dz-filename"><span data-dz-name>myfile.png</span></div>
  </div>
  <a class="delete small" data-href="remove-file">Delete</a>
  <span class="dz-size" data-dz-size></span>
</div>

