{{#unless has_coinbase_auth}}
  <a data-href="coinbase-auth" class="coinery-cta" style="display: none;">
    <img src="images/coinbase_cta@2x.png" width="603px" height="205px">
  </a>
{{/unless}}


<header style="width: 600px;">
  <h2 class="left"><strong style="letter-spacing: -1px;">{{title}}</strong> </h2>
  {{#if published}}
    <a class="button small right" data-href="preview">Preview <i class="fa fa-external-link"></i></a>
  {{else}}
    <a class="button small right" data-href="publish">Publish</a>
  {{/if}}
  <a class="button small right gray" data-href="save">Save Draft</a>
</header>

{{#if published}}
<div class="container">
  <header>
    <h4>Embed your product</h4>
    <p>Use the link below to link to your product from any website</p>
  </header>
  <p>
    http://app.coinery.io/products?id={{id}}
  </p>
  <div class="coming-soon" style="position: absolute; right: -220px; top: 40px;">
    <span class="cs-flag">Coming Soon!</span>
    <p style="font-size: .8rem;">Overlay your product on any website with a simple code snippet</p>
  </div>
</div>
{{/if}}

<div class="overlay-container">
</div>

<div class="files-container">
</div>



<iframe class="preview-iframe" style="border: 0px; display: none;" src="" frameborder="0" scrolling="no" allowtransparency="true"></iframe>


