<header style="width: 600px;">
  <h2 class="left"><strong style="letter-spacing: -1px;">{{title}}</strong> </h2>
  <a class="button small right" data-href="save">Save Draft</a>
  <a class="button small gray right" data-href="publish">Publish</a>
</header>

<div class="overlay-container">
</div>

<div class="file-container">
</div>

