{{#unless has_coinbase_auth}}
  <a data-href="coinbase-auth" class="coinery-cta">
    <img src="images/coinbase_cta@2x.png" width="603px" height="205px">
  </a>
{{/unless}}

<header style="width: 600px;">
  <h2 class="left"><strong style="letter-spacing: -1px;">{{title}}</strong> </h2>
  <a class="button small right" data-href="save">Save Draft</a>
  <a class="button small gray right" data-href="publish">Publish</a>
</header>

<div class="overlay-container">
</div>

<div class="files-container">
</div>

