<header>
  <h4>Add/Edit Files</h4>
  <p> Files your customer can download after a successful purchase</p>
  <a class="button small gray right" data-href="trigger-dz">Add Files</a>
</header>
<div class="dz-preview-container edit-view"></div>
<span class="or" style="display: none;"> or, </span>
<a data-href="dropzone" class="button small">Upload Files</a>

