<h2><strong>Login with Twitter</strong> to get started.</h2>
<p>
  With Coinery you can effortlessly sell your digital products with just a
  link and accept Bitcoin. Get started by connecting your Twitter account!
  We are here to help if you need us.
</p>
<br>
<a class="button twitter" href="/auth/twitter">Login with Twitter <i class="fa fa-twitter"></i></a>
