<a data-href="products"><div class="logo"></div></a>
<ul>
  <li><a data-href="products">Products</a></li>
  <li><a data-href="customers">Customers</a></li>
  <li><a data-href="analytics">Analytics</a></li>
  <li><a data-href="account">Account</a></li>
</ul>
