<h4>1. <strong>Enter a name</strong> for your product.</h3>
<div class="fieldset">
  <input class="wide" type="text" placeholder="What are you selling?">
  <a class="button">Save</a>
</div>
<span class="hint"><em>ie. My Special Ebook, David's Debut Album</a>

